<div class="container-fluid" data-ng-controller="HeaderController">
  <div class="navbar-header">
    <button class="navbar-toggle" type="button" data-ng-click="toggleCollapsibleMenu()">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
      <!--<div data-ng-show="authentication.user" class="seat-logo">-->
          <!--<a data-ui-sref="home">-->
              <!--<img alt="Brand" width="115" height="38" src="modules/core/client/img/brand/logo.png">-->
          <!--</a>-->
      <!--</div>-->
  </div>
  <nav class="collapse navbar-collapse" collapse="!isCollapsed" role="navigation">
    <ul class="nav navbar-nav" data-ng-if="menu.shouldRender(authentication.user);">
      <li data-ng-repeat="item in menu.items | orderBy: 'position'" data-ng-if="item.shouldRender(authentication.user)" ng-switch="item.type" data-ng-class="{ active: $state.includes(item.state), dropdown: item.type === 'dropdown' }" class="{{item.class}}" dropdown="item.type === 'dropdown'">
        <a ng-switch-when="dropdown" class="dropdown-toggle" dropdown-toggle role="button"><strong>{{::item.title}}&nbsp;</strong><span class="caret"></span></a>
        <ul ng-switch-when="dropdown" class="dropdown-menu">
          <li data-ng-repeat="subitem in item.items | orderBy: 'position'" data-ng-if="subitem.shouldRender(authentication.user);" data-ui-sref-active="active">
            <a data-ui-sref="{{subitem.state}}"><strong>{{subitem.title}}</strong></a>
          </li>
        </ul>
        <a ng-switch-default data-ui-sref="{{item.stateHome}}"><strong>{{item.title}}</strong></a>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right" data-ng-show="authentication.user">
      <li class="dropdown" dropdown>
        <a class="dropdown-toggle user-header-dropdown-toggle" dropdown-toggle role="button">
          <img data-ng-src="{{authentication.user.profileImageURL}}" alt="{{authentication.user.displayName}}" class="header-profile-image" />
          <span><strong>{{authentication.user.displayName}}</strong></span> <b class="caret"></b>
        </a>
        <ul class="dropdown-menu" role="menu">
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.profile"><strong>Edit Profile</strong></a>
          </li>
          <li data-ui-sref-active="active">
            <a data-ui-sref="settings.picture"><strong>Change Profile Picture</strong></a>
          </li>
          <li data-ui-sref-active="active" data-ng-show="authentication.user.provider === 'local'">
            <a data-ui-sref="settings.password"><strong>Change Password</strong></a>
          </li>
          <li class="divider"></li>
          <li>
            <a href="/api/auth/signout" target="_self"><strong>Signout</strong></a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>

