<div class="modal-header">
    <h3 class="modal-title">{{content.title}}</h3>
</div>
<div class="modal-body">
    <p>${app_version} - Application Version</p>
    <p>${app_store_url} - Application Store URL</p>
    <p>${app_bundle} - Application Bundle ID</p>
    <p>${app_name} - Application Name</p>
    <p>${supply_order_id} - Supply Order ID (Order\Campaign ID in the DSP)</p>
    <p>${country_abbr} - Country Abbreviation</p>
    <p>${cache_buster} - Cachebuster</p>
    <p>${carrier_name} - Carrier Name</p>
    <p>${user_agent} - User Agent</p>
    <p>${content_page_url} - Page URL</p>
    <p>${ip_address} - IP Address</p>
    <p>${player_height} - Player Height</p>
    <p>${player_width} - Player width</p>
    <p>${device_aid} - Advertiser ID (device identifier for android and IOS) - can also be IDFA</p>
    <p>${latitude} - Location latitude of device</p>
    <p>${longitude} - Location longitude of device</p>
    <p>${device_osversion} - Device OS version</p>
    <p>${device_os} - Device OS</p>
    <p>${dev_make} - Device Maker</p>
    <p>${dev_name} - Device Name\Model</p>
    <p>${dev_type} - Device Type</p>
    <p>${connection_type} - Connection Type (Network)</p>
</div>
<div class="modal-footer">
    <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
</div>